h1{
    font-size:22px;
    color:#333;
    font-family: Arial;
    text-align: center;
    text-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
}
h2{
    font-size:18px;
    color:#999;
    line-height:30px;
    text-align: center;
}
h3{
    font-size:12px;
    line-height:30px;
    text-align: center;
}

h3 span{
    color: #FF0000;
}

.center{
    color: #FF0000;
    text-align: center;
}
p{
    font-size: 14px;
    color:#333;
    font-family: Arial;
    line-height: 30px;
    text-indent: 2em;
    font-style: oblique ;
}
